<template name="textsUpload">
	<div id="texts-input-general">

	<div class="texts-input" id="texts-input-content">
		<form>
			<p>Please Enter the Text:</p>
			<textarea id="text-in-upload" placeholder="Please Enter the Text:"> </textarea>
			<p></p>
			<button type="button" id="textSubmit">Submit</button>
			<!-- <input id="text-in-upload" type="textarea" placeholder="Please Enter the Text:"> -->

			<!-- <input type="submit" value="Submit" id="submit-input"> -->
		</form>
	</div>
	</div>
</template>